body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 249, 250);
}

.form-text {
    margin-top: .25rem;
    font-size: .700em;
    color: var(--bs-secondary-color);
  }
  .form-control {
    display: block;
    width: 100%;
    padding: .600rem .75rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-label {
    margin-bottom: .2rem;
    font-size: 14px;
  }
  .asteriskField{
    display: none;
  }
  label{
    font-size: 13px;
  }
  li.nav-item{
    font-size: 14px;
  }
  /* li.nav-item:hover{
    font-family: cursive;
    text-decoration: underline;
    color: bisque;
  } */
  /* a.saludo:hover{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  } */
  a li.nav-link{
    font-size: 13px;
  }
  .nav-link{
    text-align: center;
  }
  .navbar-brand{
    font-size: 20px;
    color: blue;
    font-style: italic;
  }
