{% extends 'comprobantes/base.html' %}
{% block title %}|Facturas Compra{% endblock %}

{% block content %}
<div class="container">
    <br>
    {% if facturas %}
    <table class="table table-sm table-hover">
        <h3 style="font-size: 20px;text-decoration: underline;">Facturas de Compras con Saldo</h3>
        <thead style="background-color: bisque;">
            <th style="font-weight: 500;font-size:15px;">Numero</th>
            <th style="font-weight: 500;font-size:15px;">Fecha</th>
            <th style="font-weight: 500;font-size:15px;">Razón Social</th>
            <th style="font-weight: 500;font-size:15px;">I.Bruto</th>
            <th style="font-weight: 500;font-size:15px;">IVA</th>
            <th style="font-weight: 500;font-size:15px;">I.IVA</th>
            <th style="font-weight: 500;font-size:15px;">I.Neto</th>
            <th style="font-weight: 500;font-size:15px;">Estado</th>
            <th style="font-weight: 500;font-size:15px;">Acciones</th>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <td style="font-size:13px;">{{ factura.numero }}</td>
            <td style="font-size:13px;">{{ factura.fecha }}</td>
            <td style="font-size:13px;">{{ factura.razon_social }}</td>
            <td style="font-size:13px;">$ {{ factura.importe|floatformat:2}}</td>
            <td style="font-size:13px;">{{ factura.iva}} %</td>
            <td style="font-size:13px;">$ {{ factura.importe_iva|floatformat:2}}</td>
            <td style="font-size:13px;">$ {{ factura.importe_total|floatformat:2}}</td>
            <td style="font-size:13px;">{{ factura.estado }}</td>
            <td style="font-size:13px;">
                <a class="btn btn-info btn-sm" href="{% url 'recibos-factura' factura.id %}">Ver Pagos</a>
            </td> 
       </tbody>
            {% endfor %}
    </table>   
    </div>
    {% else %}
     <center><p style="color: brown; font-size: 18px;">No hay facturas impagas</p></center>
    {% endif %}
</div>
{% endblock %}