{% extends 'comprobantes/base.html' %}
{% load crispy_forms_tags %}
{% block title %}|Cobranza{% endblock %}

{% block content %}
<div class="container">
      <div class="row justify-content-md-center">
    <div class="col-4">
        <h1 style="font-size: 22px; font-weight: 500; color: rgb(59, 59, 59); margin-top: 40px; margin-bottom: 20px;">Registrar Nuevo Cobro</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Registrar">
        </form>
    </div>
</div>
</div>
{% endblock %}