{% extends 'comprobantes/base.html' %}

{% block content %}
<div class="container">
    <br>
    {% if f %}
    <table class="table table-sm table-hover">
        <p style="font-weight: 500;font-size:15px;margin-bottom: 3px;"><span style="text-decoration: underline;">Factura Número:</span><span style="margin-left: 10px; color: blue;">{{ f.numero }}</span></p>
        <thead style="background-color: bisque;">
            <!-- <th style="font-weight: 500;">Numero</th> -->
            <th style="font-weight: 500;font-size:15px;">Fecha</th>
            <th style="font-weight: 500;font-size:15px;">Razón Social</th>
            <th style="font-weight: 500;font-size:15px;">Importe Bruto</th>
            <th style="font-weight: 500;font-size:15px;">IVA</th>
            <th style="font-weight: 500;font-size:15px;">Importe Neto</th>
            
        </thead>
        <tbody>
            <!-- <td style="font-size:13px;">{{ f.numero }}</td> -->
            <td style="font-size:13px;">{{ f.fecha|date:'d/m/Y' }}</td>
            <td style="font-size:13px;">{{ f.razon_social }}</td>
            <td style="font-size:13px;">$ {{ f.importe|floatformat:"2g"}}</td>
            <td style="font-size:13px;">{{ f.iva}} %</td>
            <td style="font-size:15px; color: blue;">$ {{ f.importe_total|floatformat:"2g"}}</td>
       </tbody>
    </table>   
    {% else %}
    <p>Factura no encontrada</p>
    {% endif %}
    <br>
    {% if recibos %}
    <div class="row">
        <div class="col-md-7">
    <table class="table table-sm">
        <p style="font-weight: 500;font-size:15px;margin-bottom: 3px;"><span style="text-decoration: underline;">Recibos de pago de la Factura:</span> <span style="margin-left: 10px; color: blue;">{{ f.numero }}</span></p>
        <thead class="table-success">
            <th style="font-weight: 500;font-size:15px;">Numero</th>
            <th style="font-weight: 500;font-size:15px;">Fecha</th>
            <th style="font-weight: 500;font-size:15px;">Importe Pagado</th>
        </thead>
        <tbody>
            {% for recibo in recibos %}
            <td style="font-size:13px;">{{ recibo.numero }}</td>
            <td style="font-size:13px;">{{ recibo.fecha|date:'d/m/Y' }}</td>
            <td style="font-size:13px;">$ {{ recibo.importe_pagado|floatformat:"2g" }}</td>
       </tbody>
            {% endfor %}
    </table>  
</div> 

    <!-- {% for key, value in pagos.items %}
    <center>PAGOS: $ {{ value }}</center>
    {% endfor %} -->
<div class="col-md-3" style="margin-top: 60px; margin-left: 10px;">
    
    <span style="text-decoration: underline;">COBROS REALIZADOS:</span><br><span style="margin-left: 20px;">$ {{ valor_pagado|floatformat:"2g" }}</span></br>
    {% if saldo > 0%}
    
    <div style="margin-top: 10px;">
      <center style="text-decoration: underline;">SALDO A COBRAR:</center><br><span style="color: red;font-weight: bold;margin-left: 20px;">$ {{ saldo|floatformat:"2g" }}</span><br><br>
      <center><a  href="" class="btn btn-primary">Registrar nuevo pago</a></center>
    </div>
     
    {% else %}
    <center style="margin-top: 20px; color: green; font-style: italic; text-decoration: underline;">
        LA VENTA HA SIDO COBRADA
    </center>
    {% endif %}
    
    {% else %}
    <p style="font-size: 18px; color: red; text-align: center;">No hay registro de cobranza de ese comprobante de venta</p>
    {% endif %}
</div>
</div>
</div>
{% endblock %}
